{% set identifier = "{}-{}".format(model, app) %}
{% set svc = "http://{}.{}.svc.cluster.local:{}".format(app, model, port) %}

{
  "http": {
    "middlewares": {
      "juju-sidecar-noprefix-{{ identifier }}": {
        "stripPrefix": {
          "forceSlash": false,
          "prefixes": ["/{{ identifier }}"]
        }
      }
    },
    "routers": {
      "juju-{{ identifier }}-api-router": {
        "entryPoints": ["web"],
        "rule": "PathPrefix(`/{{ identifier }}/ui`)",
        "middlewares": ["juju-sidecar-noprefix-{{ identifier }}"],
        "service": "juju-{{ identifier }}-api-service"
      },
      "juju-{{ identifier }}-api-router-tls": {
        "entryPoints": ["websecure"],
        "rule": "PathPrefix(`/{{ identifier }}/ui`)",
        "middlewares": ["juju-sidecar-noprefix-{{ identifier }}"],
        "service": "juju-{{ identifier }}-api-service",
        "tls": {
          "domains": [
            {
              "main": "{{ external_host }}",
              "sans": ["*.{{ external_host }}"]

            }
          ]
        }
      }
    },
    "services": {
      "juju-{{ identifier }}-api-service": {
        "loadBalancer": {
          "servers": [
            {
              "url": "{{ svc }}"
            }
          ]
        }
      }
    }
  }
}
